<!DOCTYPE html>
<html xmlns:sec="http://thymeleaf.org/extras/spring-security" xmlns:th="http://thymeleaf.org" lang="en">
<head th:fragment="head">
    <meta charset="UTF-8" />
    <title>Template</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
    <header th:fragment="header">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <a th:href="@{/}" th:text="#{template.title}" class="navbar-brand"></a>
                <button class="navbar-toggler" data-target="#navbarCollapse" data-toggle="collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item px-2">
                            <a th:href="@{/}" th:text="#{template.navbar.home-link}" class="nav-link active"></a>
                        </li>
                    </ul>
                    <ul sec:authorize="isAuthenticated()" class="navbar-nav ml-auto">
                        <li class="nav-item mr-3">
                            <a href="" class="nav-link">
                                <i class="fas fa-user"></i>
                                <span>[[#{template.navbar.welcome}]] </span>
                                <span sec:authentication="name"></span>
                            </a>
                        </li>
                        <li>
                            <form th:action="@{/logout}" method="post">
                                <!-- <b>[[#{template.user}]]:</b>
                                <span sec:authentication="name"></span> |
                                <b>[[#{template.user-roles}]]:</b>
                                <span sec:authentication="principal.authorities"></span> | -->
                                <a href="#" class="nav-link" onclick="this.parentNode.submit();">
                                    <i class="fas fa-user-times"></i>
                                    <span th:text="#{template.navbar.sign-out}"></span>
                                </a>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="py-2 bg-info text-white" id="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1>
                            <i class="fas fa-cog"></i>
                            <span th:text="#{template.title}"></span>
                        </h1>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <footer th:fragment="footer">
        <div>
            <a th:href="@{/(lang=en)}" th:text="#{template.language.en}"></a> |
            <a th:href="@{/(lang=es)}" th:text="#{template.language.es}"></a>
        </div>

        <p th:text="#{template.rights-message}"></p>
    </footer>
</body>
</html>