<!DOCTYPE html>
<html xmlns:sec="http://thymeleaf.org/extras/spring-security" xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Modify Client</title>
</head>
<body>
    <section th:fragment="modifyClient">
        <form th:action="@{/save}" th:object="${person}" method="post" class="was-validated">
            <input type="hidden" th:field="*{personId}" />

            <section th:replace="layout/buttonsEdit::buttonsEdit"></section>

            <div id="details">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <h4 th:text="#{action.edit}"></h4>
                                </div>

                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="first-name" th:text="#{person.first-name}"></label>
                                        <input type="text" th:field="*{firstName}" class="form-control" id="first-name" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="last-name" th:text="#{person.last-name}"></label>
                                        <input type="text" th:field="*{lastName}" class="form-control" id="last-name" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="email" th:text="#{person.email}"></label>
                                        <input type="email" th:field="*{email}" class="form-control" id="email" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="phone" th:text="#{person.phone}"></label>
                                        <input type="tel" th:field="*{phone}" class="form-control" id="phone" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="balance-due" th:text="#{person.balance-due}"></label>
                                        <input type="number" th:field="*{balanceDue}" class="form-control" id="balance-due" step="any" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</body>
</html>