<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{template.title}"></title>
</head>
<body>
    <header th:replace="layout/layout::header"></header>

    <a th:href="@{/add}" th:text="#{person.add}"></a>

    <p th:text="${message}"></p>
    <p th:text="${greeting}"></p>

    <!-- <br />

    <b>First Name:</b>
    <span th:text="${person1.firstName}"></span>

    <br />

    <b>Last Name:</b>
    <span th:text="${person1.lastName}"></span>

    <br />

    <b>Email:</b>
    <span th:text="${person1.email}"></span>

    <br />

    <b>Phone:</b>
    <span th:text="${person1.phone}"></span> -->

    <div th:if="${!people.empty}">
        <table border="1">
            <thead>
                <th th:text="#{person.id}"></th>
                <th th:text="#{person.first-name}"></th>
                <th th:text="#{person.last-name}"></th>
                <th th:text="#{person.email}"></th>
                <th th:text="#{person.phone}"></th>
                <th th:text="#{person.added-at}"></th>
                <th th:text="#{person.updated-at}"></th>
                <th th:text="#{action.edit}"></th>
                <th th:text="#{action.remove}"></th>
            </thead>
            <tbody>
            <tr th:each="person : ${people}">
                <td th:text="${person.personId}"></td>
                <td th:text="${person.firstName}"></td>
                <td th:text="${person.lastName}"></td>
                <td th:text="${person.email}"></td>
                <td th:text="${person.phone}"></td>
                <td th:text="${person.addedAt}"></td>
                <td th:text="${person.updatedAt}"></td>
                <td>
                    <a th:href="@{/edit/} + ${person.personId}" th:text="#{action.edit}"></a>
                </td>
                <td>
                    <a th:href="@{/remove(personId=${person.personId})}" th:text="#{action.remove}"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${people.empty}">
        [[#{people.empty-list}]]
    </div>

    <footer th:replace="layout/layout::footer"></footer>
</body>
</html>