<!DOCTYPE html>
<html xmlns:sec="http://thymeleaf.org/extras/spring-security" xmlns:th="http://thymeleaf.org" lang="en">
<head th:replace="layout/layout::head">
    <meta charset="UTF-8">
    <title th:text="#{template.title}"></title>
</head>
<body>
    <header th:replace="layout/layout::header"></header>

    <section th:replace="layout/clientList::clientList"></section>

    <!-- <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/add}" th:text="#{person.add}"></a>

    <p th:text="${message}"></p>
    <p th:text="${greeting}"></p> -->

    <!-- <br />

    <b>First Name:</b>
    <span th:text="${person1.firstName}"></span>

    <br />

    <b>Last Name:</b>
    <span th:text="${person1.lastName}"></span>

    <br />

    <b>Email:</b>
    <span th:text="${person1.email}"></span>

    <br />

    <b>Phone:</b>
    <span th:text="${person1.phone}"></span> -->

    <br />
    <br />
    <br />

    <footer th:replace="layout/layout::footer"></footer>
</body>
</html>