<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head th:replace="layout/layout::head">
    <meta charset="UTF-8" />
    <title th:text="#{template.sign-in}"></title>
</head>
<body>
    <header th:replace="layout/layout::header"></header>

    <section class="py-4 mb-4 bg-light" id="actions">
        <div class="container">
            <div class="row"></div>
        </div>
    </section>

    <section id="sign-in">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h4 th:text="#{template.sign-in}"></h4>
                        </div>

                        <div class="card-body">
                            <form th:action="@{/login}" method="post">
                                <div class="form-group">
                                    <label for="username">[[#{template.username}]]:</label>
                                    <input type="text" th:placeholder="#{template.username}" name="username" class="form-control" id="username" />
                                </div>

                                <div class="form-group">
                                    <label for="password">[[#{template.password}]]:</label>
                                    <input type="password" th:placeholder="#{template.password}" name="password" class="form-control" id="password" />
                                </div>

                                <button type="submit" class="btn btn-primary btn-block">[[#{template.sign-in}]]</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="bg-dark text-white mt-5 py-3">
        <div class="container">
            <div class="col">
                <div class="lead text-center">
                    <a th:href="@{/login(lang=en)}" th:text="#{template.language.en}" class="text-info"></a> |
                    <a th:href="@{/login(lang=es)}" th:text="#{template.language.es}" class="text-info"></a>

                    <p class="mt-4">&copy; [[#{template.rights-message}]]</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>