<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title th:text="#{template.sign-in}"></title>
</head>
<body>
    <h1 th:text="#{template.sign-in}"></h1>

    <form th:action="@{/login}" method="post">
        <label for="username">[[#{template.username}]]:</label>
        <input type="text" name="username" id="username" />

        <br />
        <br />

        <label for="password">[[#{template.password}]]:</label>
        <input type="password" name="password" id="password" />

        <br />
        <br />

        <button type="submit">[[#{template.sign-in}]]</button>
    </form>

    <br />
    <br />
    <br />

    <footer th:fragment="footer">
        <div>
            <a th:href="@{/login(lang=en)}" th:text="#{template.language.en}"></a> |
            <a th:href="@{/login(lang=es)}" th:text="#{template.language.es}"></a>
        </div>

        <p th:text="#{template.rights-message}"></p>
    </footer>
</body>
</html>